@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;

li {
	list-style-type: none;
}

body {
	margin: 0;
}

ul {
	padding-left: 0;
}

input {
	outline: none;
}

h1 {
	font-family: arial;
	font-size: 20px;
	font-weight: normal;
	color: #3e3935;
	margin: 0;
}

.wrapper {
	padding: 5px 0;
	&_purple {
		background: #ece7d7;
	}
}

.content {
	width: 960px;
	padding: 10px;
	margin: auto;
	position: relative;
}

.button {
	font-family: arial;
	font-size: 15px;
	color: #ffffff;
	display: block;
	background: -moz-linear-gradient(90deg, rgba(63,129,0,1) 0%, rgba(63,129,0,1) 1%, rgba(107,173,21,1) 89%, rgba(108,174,22,1) 90%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(108,174,22,1)), color-stop(11%, rgba(107,173,21,1)), color-stop(99%, rgba(63,129,0,1)), color-stop(100%, rgba(63,129,0,1)));
	background: -webkit-linear-gradient(90deg, rgba(63,129,0,1) 0%, rgba(63,129,0,1) 1%, rgba(107,173,21,1) 89%, rgba(108,174,22,1) 90%);
	background: -o-linear-gradient(90deg, rgba(63,129,0,1) 0%, rgba(63,129,0,1) 1%, rgba(107,173,21,1) 89%, rgba(108,174,22,1) 90%);
	background: -ms-linear-gradient(90deg, rgba(63,129,0,1) 0%, rgba(63,129,0,1) 1%, rgba(107,173,21,1) 89%, rgba(108,174,22,1) 90%);
	background: linear-gradient(0deg, rgba(63,129,0,1) 0%, rgba(63,129,0,1) 1%, rgba(107,173,21,1) 89%, rgba(108,174,22,1) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cae16', endColorstr='#3f8100',GradientType=0 );
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin: 0;
	padding: 13px 12px;
	text-decoration: none;
	cursor: pointer;
	&:hover,&active,&:focus {
		background: #4e9000;
	}
}

.catalog {
	width: 28%;
	display: inline-block;
	vertical-align: top;
	flex-grow: 1;
	background: #42392e;
	border-radius: 4px;
	&__button {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-bottom: 1px solid #356b00;
	}
	&__list {
		margin: 0;
	}
	&__item {
		border-bottom: 1px solid #554d43;
	}
	&__link {
		font-family: arial;
		display: inline-block;
		width: 100%;
		padding: 15px 30px 11px 13px;
		letter-spacing: 0.05em;
		box-sizing: border-box;
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 12px;
		position: relative;
		transition: all 0.3s;
		&:after {
			content: "";
			background: url(../img/next.png) no-repeat;
			width: 9px;
			height: 15px;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translate(0, -50%);
		}
		&:hover,&:active,&:focus {
			background: #42301b;
		}
		&-active {
			background: #fff;
			color: #dc3806;
			&:hover,&:active,&:focus {
				background: #fff;
			}
			&:after {
				background: url(../img/next-read.png) no-repeat;
			}
		}
	}
}

.table-align {
	padding: 18px 0;
	width: 100%;
	font-size: 0;
	box-sizing: border-box;
	display: flex;
	position: relative;
	&__right {
		display: inline-block;
		width: 68%;
		padding: 0 2%;
		font-size: 0;
		flex-grow: 1;
	}
}

.input {
	color: #867e6d;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.4);
	padding: 11px 13px;
	font-size: 20px;
	border: none;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	outline: none;
	&:active,&:focus {
		background-image: none;
		&::-webkit-input-placeholder {
			font-size: 0;
		}
		&::-moz-placeholder {
			font-size: 0;
		}
		&:-ms-input-placeholder {
			font-size: 0;
		}
		&:-moz-placeholder {
			font-size: 0;
		}
	}
	&-firefox {
		padding-left: 50px;
		&:active,&:focus {
			background: #fff url(../img/search.png) no-repeat 13px;
		}
	}
}

.search {
	width: 71%;
	font-size: 0;
	padding-right: 3%;
	display: inline-block;
	vertical-align: top;
	&__input {
		width: 83%;
		box-sizing: border-box;
		background: #fff url(../img/search.png) no-repeat 13px;
		&::-webkit-input-placeholder {
			padding-left: 29px;
			letter-spacing: 0.03em;
		}
		&:-ms-input-placeholder {
			padding-left: 40px;
		}
	}
	&__submit {
		display: inline-block;
		width: 17%;
		box-sizing: border-box;
		padding: 14px 18px;
		border: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		vertical-align: top;
	}
}

.application {
	width: 26%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	&__button {
		padding: 5px 12px;
		font-size: 17px;
		background: #583843;
		transition: all 0.3s;
		&:hover,&:active,&:focus {
			background: #29121a;
		}
	}
	&__txt {
		display: block;
		font-family: arial;
		font-size: 13px;
		color: #ffe328;
	}
}

.slider {
	display: block;
}

.slick-dotted.slick-slider {
	margin: 0;
	padding-top: 20px;
}

.slider-nav {
	& .top-right {
		width: 79%;
	}
	& .top-left {
		width: 79%;
	}
	& .bottom-left {
		width: 67%;
	}
	.item__txt {
		font-size: 12px;
		width: 100%;
		padding: 2px;
		line-height: 17px;
		padding-left: 7px;
	}
	.item__button {
		font-size: 14px;
		padding: 4px;
	}
	.item__img {
		height: 152px;
	}
}
.slider-nav.slick-slider .item__logo {
	display: none;
}

.top-left {
	position: absolute;
	top: 1px;
	left: 30px;
}

.top-right {
	position: absolute;
	top: 21px;
	right: 1px;
	text-align: right;
}

.bottom-right {
	position: absolute;
	bottom: 21px;
	right: 1px;
}

.bottom-left {
	position: absolute;
	bottom: 13px;
	left: 1px;
}

.item {
	position: relative;
	&__txt {
		font-size: 15px;
		color: #fff;
		font-family: arial;
		text-transform: uppercase;
		width: 300px;
		display: inline-block;
		margin: 0;
		vertical-align: top;
		padding: 9px 10px;
		line-height: 21px;
		box-sizing: border-box;
		&_gray {
			background: #929395;
		}
		&_dark-gray {
			background: #544f4b;
		}
		&_brown {
			background: #75674a;
		}
		&_non-color {
			background: none;
		}
	}
	&__button {
		font-size: 20px;
		background: #dc3806;
		&:hover,&:active,&:focus {
			background: #882406;
		}
	}
	&__img {
		width: 100%;
		height: 329px;
	}
}

.slick-slide {
	overflow: hidden;
	padding: 1px;
	box-sizing: border-box;
	cursor: pointer;
	.item__logo {
		display: inline-block;
		margin-right: 4px;
	}
}

.slick-dots {
	bottom: -3px;
	li {
		position: initial;
		button{
			border-radius: 20px;
			width: 9px;
			height: 9px;
			border: 3px solid #37231b;
			box-sizing: border-box;
			padding: 0;
			&:before {
				content: none;
			}
		}
	}
	.slick-active button {
		border-color: #dc3806;
	}
}

.more-info {
	position: absolute;
	width: 72%;
	top: 62px;
	background: #fff;
	right: 0;
	z-index: 2;
	padding: 30px;
	box-sizing: border-box;
	-webkit-box-shadow: 4px 0 11px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 4px 0 11px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 4px 0 11px -4px rgba(0, 0, 0, 0.75);
	bottom: 18px;
	opacity: 0;
	overflow-y: auto;
	pointer-events: none;
	transition: all 0.3s;
	&__list {
		column-count: 4;
		grid-template-columns: 40px 50px auto 50px 40px;
		grid-template-rows: 25% 100px auto;
	}
	&__item {
		display: inline-block;
		width: 100%;
		vertical-align: top;
	}
	&__link {
		color: #583843;
		font-family: arial;
		font-size: 13px;
		text-decoration: none;
		display: inline-block;
		width: 100%;
		padding: 9px 10px;
		box-sizing: border-box;
		&:hover,&:active,&:focus {
			color: #dc3806;
			background: #f6f5f0;
		}
	}
	&__open {
		opacity: 1;
		pointer-events: auto;
	}
	&__half {
		width: 50%;
		float: left;
		column-count: 2;
		position: relative;
	}
	&__img {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.slick-initialized.slider-nav .slick-slide {
	&.fix-width {
		width: 33.23% !important;
	}
	&.fix-width-2 {
		width: 50% !important;
	}
	&.slick-current.slick-active {
		display: none;
	}
}

.fix-track {
	width: 100% !important;
}

.header {
	background: #2b2723;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 21;
	&__right {
		float: right;
		font-size: 0;
		position: absolute;
		top: 0;
		right: 30px;
	}
}

.menu {
	float: left;
	padding: 2px 0 1px;
	&__list {
		font-size: 0;
	}
	&__item {
		margin-right: 13px;
		display: inline-block;
		&:first-child:before{
			content: none;
		}
		&:before {
			content: "";
			display: inline-block;
			width: 2px;
			height: 2px;
			border: 2px solid #564736;
			border-radius: 20px;
			margin-right: 12px;
			position: relative;
			top: -2px;
			left: 1px;
		}
	}
	&__link {
		color: #ffffff;
		font-family: arial;
		font-size: 15px;
		text-decoration: none;
		transition: all 0.3s;
		border-bottom: 1px solid rgba(255,255,255,0);
		&:hover,&:active,&:focus {
			border-bottom: 1px solid #fff;
		}
	}
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}

.basket {
	display: inline-block;
	padding-left: 20px;
	&__button {
		background: #4a3f32;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		padding: 11px 26px 21px 16px;
		transition: all 0.3s;
		&:before {
			content: "";
			width: 20px;
			height: 19px;
			display: inline-block;
			background: url(../img/sprite-header.png) no-repeat 0px 0;
			position: relative;
			top: 4px;
			margin-right: 14px;
		}
		&:hover,&:active,&:focus {
			background: #382f24;
		}
	}
}

.login {
	display: inline-block;
	position: relative;
	top: -4px;
	margin: 0 18px;
	&__button {
		background: none;
		color: #ffe328;
		border-bottom: 1px dashed #ffe328;
		padding: 0px;
		border-radius: 0;
		&:hover,&:active,&:focus {
			background: none;
			border-color: rgba(0,0,0,0);
		}
	}
	&__active {
		margin: 0;
		background-color: #fff;
		z-index: 4;
		color: #dc3806;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		.login__button {
			padding: 12px 18px;
			color: #dc3806;
			border: none;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
	}
}

.checkbox {
	display:none;
	& + .checkbox-label {
		color: #000000;
		font-family: arial;
		font-size: 14px;
		cursor: pointer;
		margin-top: 4px;
		display: inline-block;
		& .checkbox-label__span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin: -1px 5px 0 0;
			vertical-align: middle;
			cursor: pointer;
			border: 1px solid #5d62a5;
			border-radius: 1px;
			position: relative;
		}
	}
	&:checked + .checkbox-label .checkbox-label__span {
		background: #c3e7f4; /* Old browsers */
		background: -moz-linear-gradient(top, #c3e7f4 0%, #8ac5f9 50%, #c3e7f4 100%);
		background: -webkit-linear-gradient(top, #c3e7f4 0%,#8ac5f9 50%,#c3e7f4 100%);
		background: linear-gradient(to bottom, #c3e7f4 0%,#8ac5f9 50%,#c3e7f4 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3e7f4', endColorstr='#c3e7f4',GradientType=0 );
		&:before {
			content: "";
			width: 13px;
			height: 12px;
			position: absolute;
			background: url(../img/sprite-header.png) no-repeat -27px -6px;
			top: -2px;
			left: 2px;
		}
	}
}

.papab {
	position: absolute;
	top: 40px;
	background: #fff;
	padding: 20px 16px 15px;
	border-radius: 4px;
	border-top-left-radius: 0;
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
	transition: all 0.2s;
	opacity: 0;
	pointer-events: none;
	&__active {
		opacity: 1;
		pointer-events: auto;
	}
}

.form {
	padding-bottom: 9px;
	border-bottom: 1px solid #c5bdb4;
	&__input {
		border: 1px solid #b0b0b0;
		box-sizing: border-box;
		font-size: 13px;
		border-radius: 0;
		padding: 6px;
		width: 238px;
	}
	&__wrap {
		margin-bottom: 12px;
		color: #000000;
		font-family: arial;
		font-size: 14px;
	}
	&__link {
		color: #2b7bce;
		font-family: arial;
		font-size: 11px;
		border-bottom: 1px solid #2b7bce;
		float: right;
		text-decoration: none;
		padding-bottom: 1px;
		transition: all 0.3s;
		padding-top: 7px;
		&:hover,&:active,&:focus {
			border-color: rgba(255,255,255,0);
		}
		&-big {
			font-size: 14px;
			margin: 5px 0;
		}
	}
	&__submit {
		border: none;
		display: inline-block;
		padding: 6px 12px;
		margin-top: 6px;
		margin-right: 7px;
		max-width: 65px;
	}
}

.social {
	&__title {
		color: #000000;
		font-family: arial;
		font-size: 13px;
		padding-right: 20%;
		margin: 10px 0 7px;
		line-height: 18px;
	}
	&__item {
		display: inline-block;
	}
	&__link {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin-right: 9px;
		border-radius: 2px;
		background: url(../img/sprite-header.png) no-repeat;
		transition:all 0.3s;
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.2);
			position: absolute;
			top: 0;
			left: 0;
		}
		&-1 {
			background-position: -149px;
		}
		&-2 {
			background-position: -115px;
		}
		&-3 {
			background-position: -81px;
		}
		&-4 {
			background-position: -47px;
		}
		&:hover {
			&:before {
				content: none;
			}
		}
	}
}

.logo {
	display: inline-block;
	vertical-align: top;
	margin: 11px 5px;
	flex-grow: 1;
}

.info {
	margin-top: 40px;
	&__right {
		display: inline-block;
		vertical-align: top;
		margin-left: 25px;
		flex-grow: 1;
	}
	&__wrap {
		display: flex;
	}
}

.list-number {
	font-size: 0;
	&__item {
		color: #75674a;
		font-family: arial;
		font-size: 21px;
		display: inline-block;
		margin-right: 41px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__txt {
		display: block;
		font-size: 11px;
	}
}

.find {
	font-size: 0;
	margin-top: 16px;
	display: table;
	margin-right: 21px;
	&__txt {
		color: #000000;
		font-family: arial;
		font-size: 13px;
		display: table-cell;
		span {
			font-weight: bold;
		}
	}
}

.place {
	width: 48%;
	vertical-align: top;
	padding-right: 20px;
	box-sizing: border-box;
	&:before {
		content: "м";
		color: #ffffff;
		font-family: arial;
		font-size: 13px;
		background: #acabac;
		display: inline-block;
		margin-right: 5px;
		border-radius: 24px;
		padding: 0px 4px 2px;
		box-sizing: border-box;
		position: relative;
		bottom: 1px;
	}
}

.time-work {
	width: 20%;
	vertical-align: top;
	box-sizing: border-box;
}

.icq {
	padding-left: 11px;
	padding-right: 33px;
	margin-top: -2px;
	width: 21%;
	box-sizing: border-box;
	vertical-align: top;
	display: table-cell;
	&__link {
		color: #3e3935;
		font-family: arial;
		font-size: 15px;
		text-decoration: none;
		&:before {
			content: "";
			width: 16px;
			height: 16px;
			background: url(../img/sprite-info-b.png) no-repeat -126px 0px;
			display: inline-block;
			position: relative;
			bottom: -3px;
			top: 2px;
			margin-right: 6px;
		}
		&:hover,&:active,&:focus {
			text-decoration: underline;
		}
	}
}

.mail {
	width: 20%;
	display: table-cell;
	padding-left: 19px;
	box-sizing: border-box;
	flex-grow: 1;
	&__link {
		color: #2b7bce;
		font-family: arial;
		font-size: 15px;
		text-decoration: none;
		border-bottom: 1px solid #2b7bce;
		position: relative;
		display: inline-block;
		transition: all 0.3s;
		&:before {
			content: "";
			width: 16px;
			height: 16px;
			background: url(../img/sprite-info-b.png) no-repeat -105px 0px;
			display: inline-block;
			position: absolute;
			left: -27px;
			top: 2px;
		}
		&:hover,&:active,&:focus {
			border: none;
		}
	}
}

.other {
	margin-top: 15px;
	margin-bottom: 5px;
	margin-right: 20px;
	&__link {
		color: #2b7bce;
		font-family: arial;
		font-size: 13px;
		text-decoration: none;
		border-bottom: 1px solid #2b7bce;
		margin: 0;
		float: left;
		&:hover,&:active,&:focus {
			border: none;
		}
	}
}

.friend {
	font-size: 0;
	float: right;
	&__title {
		color: #75674a;
		font-family: arial;
		font-size: 13px;
		display: inline-block;
		margin: 0;
		vertical-align: middle;
		margin-right: 5px;
	}
	&__list {
		display: inline-block;
		vertical-align: middle;
	}
	&__item{
		display: inline-block;
		margin-right: 5px;
		&:last-child {
			margin-right: 0px;
		}
	}
	&__link {
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 2px;
		background: url(../img/sprite-info-b.png) no-repeat;
		transition:all 0.3s;
		position: relative;
		&:before {
			content: "";
			background: rgba(0,0,0,0.3);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height:100%;
		}
		&-2 {
			background-position: -21px 0;
		}
		&-3 {
			background-position: -42px 0;
		}
		&-4 {
			background-position: -63px 0;
		}
		&-5 {
			background-position: -84px 0;
		}
		&:hover,&:active,&:focus {
			&:before{
				content: none;
			}
			border: none;
		}
	}
}