<div class="info">
    <div class="content">
        <div class="info__wrap">
            <a href="/" class="logo"><img src="img/logo.png" alt="logo" class="logo__img"></a>
            <div class="info__right">
                <ul class="list-number">
                    <li class="list-number__item"><span class="list-number__txt">Общий</span>(495) 775-76-78</li>
                    <li class="list-number__item"><span class="list-number__txt">Металлические двери</span>(495) 775-76-79</li>
                    <li class="list-number__item"><span class="list-number__txt">Межкомнатные двери</span>(495) 775-76-80</li>
                </ul>
                <div class="find">
                    <div class="find__txt place">Владыкино, Сигнальный проезд, д. 16 стр. 1, ТВЦ «РемДекор», павильйоны 103,104, 106, 122.</div>
                    <div class="find__txt time-work">Работаем с <span>10 до 20</span> без выходных</div>
                    <div class="icq">
                        <a href="" class="icq__link">353 574 685</a>
                    </div>
                    <div class="mail">
                        <a href="" class="mail__link">4093719@mail.ru</a>
                    </div>
                </div>
                <div class="other cf">
                    <a href="" class="other__link">Другие адреса магазинов</a>
                    <div class="friend">
                        <p class="friend__title">Рассказать друзьям:</p>
                        <ul class="friend__list">
                            <li class="friend__item"><a href="" class="friend__link friend__link-1"></a></li>
                            <li class="friend__item"><a href="" class="friend__link friend__link-2"></a></li>
                            <li class="friend__item"><a href="" class="friend__link friend__link-3"></a></li>
                            <li class="friend__item"><a href="" class="friend__link friend__link-4"></a></li>
                            <li class="friend__item"><a href="" class="friend__link friend__link-5"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper_purple">
    <div class="content">
        <h1>«Кулдорс» — межкомнатные и металлические двери оптом и в розницу.</h1>
        <div class="table-align">

            <div class="catalog">
                <a href="" class="button catalog__button">Каталог продукции</a>
                <ul class="catalog__list">
                    <li class="catalog__item"><a href="" data-open="1" class="catalog__link">Металлические двери</a></li>
                    <li class="catalog__item"><a href="" data-open="2" class="catalog__link">Межкомнатные двери</a></li>
                    <li class="catalog__item"><a href="" data-open="3" class="catalog__link">Межкомнатные перегородки</a></li>
                    <li class="catalog__item"><a href="" data-open="4" class="catalog__link">Гармошки</a></li>
                    <li class="catalog__item"><a href="" data-open="5" class="catalog__link">Арки</a></li>
                    <li class="catalog__item"><a href="" data-open="6" class="catalog__link">Дверцы</a></li>
                    <li class="catalog__item"><a href="" data-open="7" class="catalog__link">Фурнитура</a></li>
                    <li class="catalog__item"><a href="" data-open="8" class="catalog__link">Ламинат</a></li>
                    <li class="catalog__item"><a href="" data-open="9" class="catalog__link">Стекла</a></li>
                    <li class="catalog__item"><a href="" data-open="10" class="catalog__link">Экспозиторы</a></li>
                </ul>

                <div id="more-info__1" class="more-info">
                    <ul class="more-info__list">
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                    </ul>
                </div>
                <div id="more-info__2" class="more-info">
                    <ul class="more-info__list more-info__half">
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                        <li class="more-info__item"><a href="" class="more-info__link">«Волховец»</a></li>
                    </ul>
                    <div class="more-info__baner more-info__half">
                        <img class="more-info__img" src="img/banner-exempl.jpg" alt="banner img">
                    </div>
                </div>
            </div>

            <div class="table-align__right">
                <form action="/" class="search">
                    <input type="text" class="input search__input" placeholder="Поиск по каталогу">
                    <input type="submit" class="button search__submit" value="Найти">
                </form>
                <div class="application">
                    <a href="" class="button application__button">
                        <span class="application__txt">Оставить заявку</span>
                        на подбор дверей
                    </a>
                </div>

                <div class="slider-for">
                    <div class="item">
                        <img src="img/slide-img__1.jpg" class="item__img" alt="slide img">
                        <div class="top-left">
                            <img src="img/slide-img__1-logo.jpg" alt="slide logo" class="item__logo">
                            <p class="item__txt item__txt_gray">Купи дверь Torex и получи страховку без срока окончания</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/slide-img__2.jpg" class="item__img" alt="slide img">
                        <div class="top-right">
                            <p class="item__txt item__txt_brown">Скидки Для жителей новых микрорайонов </p>
                        </div>
                        <div class="bottom-right">
                            <a href="" class="button item__button">подробнее</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/slide-img__3.jpg" class="item__img" alt="slide img">
                        <div class="bottom-left">
                            <p class="item__txt item__txt_dark-gray">Для тех, кто ценит толк в жизни</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/slide-img__4.jpg" class="item__img" alt="slide img">
                        <div class="top-right">
                            <p class="item__txt item__txt_non-color">Заводская врезка фурнитуры</p>
                        </div>
                    </div>
                </div>
                <div class="slider-nav">

                </div>
            </div>

        </div>
    </div>
</div>