<header class="header">
    <div class="content cf">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="" class="menu__link">О компании</a></li>
                <li class="menu__item"><a href="" class="menu__link">Оплата</a></li>
                <li class="menu__item"><a href="" class="menu__link">Доставка</a></li>
                <li class="menu__item"><a href="" class="menu__link">Услуги</a></li>
                <li class="menu__item"><a href="" class="menu__link">Контакты</a></li>
                <li class="menu__item"><a href="" class="menu__link">Оптовикам</a></li>
            </ul>
        </nav>

        <div class="header__right">
            <div class="login">
                <a href="" class="button login__button">Войти</a>
            </div>
            <div class="papab">
                <form action="" class="form">
                    <div class="form__wrap"><input type="email" class="input form__input" placeholder="Эл. почта" required></div>
                    <div class="form__wrap"><input type="password" class="input form__input" placeholder="Пароль" required></div>
                    <div class="form__wrap">
                        <input id="check" type="checkbox" class="checkbox" checked>
                        <label for="check" class="checkbox-label"><span class="checkbox-label__span"></span>Запомнить меня</label>
                        <a href="" class="form__link">Забыл пароль?</a>
                    </div>
                    <div class="form__wrap cf">
                        <input type="submit" class="button form__submit" value="Войти">или<a href="" class="form__link form__link-big">Зарегистрироваться</a>
                    </div>
                </form>
                <div class="social">
                    <p class="social__title">Войти как пользователь социальной сети:</p>
                    <ul class="social__list">
                        <li class="social__item"><a href="" class="social__link social__link-4"></a></li>
                        <li class="social__item"><a href="" class="social__link social__link-3"></a></li>
                        <li class="social__item"><a href="" class="social__link social__link-2"></a></li>
                        <li class="social__item"><a href="" class="social__link social__link-1"></a></li>
                    </ul>
                </div>
            </div>

            <div class="basket">
                <a href="" class="button basket__button">Ваша корзина</a>
            </div>
        </div>
    </div>
</header>